<?xml version="1.0" ?>
<robot name="table" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="table_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dsr_description/meshes/envs/table_link.stl"/>
      </geometry>
      <material name="table_link_material">
          <color rgba="0.9 0.9 0.9 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://dsr_description/meshes/envs/table_link.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
</robot>
